.wedding{
  width: 100%;
  justify-content: center;
}

.photo img{
  width:300px;
  padding: 10px;
  text-align: center;
 
}

.u-ml-0 {
  margin: 10px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.weds{
  text-align: center;
  justify-content: center;

}

.galHead h2{
  padding-top: 30px;
}